[submodule "event-bus"]
	path = event-bus
	url = git@sed-team-project:SED-DEV-group/event-bus.git
[submodule "bfaf"]
	path = bfaf
	url = git@sed-team-project:SED-DEV-group/bfaf.git
[submodule "user-interface"]
	path = user-interface
	url = git@sed-team-project:SED-DEV-group/user-interface.git
