[submodule "event-bus"]
	path = event-bus
	url = git@gitlab.com:autokrator-uog/core.git
[submodule "bfaf"]
	path = bfaf
	url = git@gitlab.com:autokrator-uog/backend.git
[submodule "user-interface"]
	path = user-interface
	url = git@gitlab.com:autokrator-uog/user-interface.git
[submodule "jackie"]
	path = jackie
	url = git@gitlab.com:autokrator-uog/reporting-service.git
